{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid" style="width: 100%; height: 100%;">

        <div style="text-align: center">
            <h1>SERVICIO DE ALQUILER DE COCHES</h1>
        </div>

        <div class="wrapper" style="color: white; padding: 2% 30% 10% 30%;">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel" style="background-color:grey ;padding:10px; margin-top:10px;">
                        <h5>Resumen de su reserva.</h5>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    Nombre: {{ rent.client.name }}
                                </div>
                                <div class="form-group">
                                    DNI: {{ rent.client.dni }}
                                </div>
                                <div class="form-group">
                                    Desde: {{ rent.dateInit | date("m/d/Y")}}
                                </div>
                                <div class="form-group">
                                    Modelo: {{ rent.vehicle.name }}
                                </div>

                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="form-group">
                                    Apellidos: {{ rent.client.lastname}}
                                </div>
                                <div class="form-group">
                                    Ciudad: {{ rent.city }}
                                </div>
                                <div class="form-group">
                                    Hasta: {{ rent.dateEnd | date("m/d/Y") }}
                                </div>
                                <div class="form-group">
                                    Precio total: {{ rent.cost }} €
                                </div>

                            </div>
                        </div>

                        <p>Pulse en "Siguiente" para pagar y finalizar la compra.</p>

                        <div class="form-group">
                            <a id="submitBtn" href="{{ path("payment") }}"  class="btn btn-warning btn-block">Siguiente</a>
                        </div>
                    </section>
                </div>
            </div>

        </div>

    </div>

    <script>



    </script>

{% endblock %}


